*{ margin: 0; padding: 0;}

body{
    font: 100% normal Arial, Helvetica, sans-serif;
    background: #8e9184;
}

#top {
    background: #7e9630;
}

.meuForm,input {
    margin: 0;
    padding: 0;
    color: #020f27;
}

div.box {
    margin: 0 auto;
    width: 500px;
    background: #222222;
    border: 1px solid #262626;
}

.box h2 {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 20px 0 20px 120px;
    border-bottom: 1px solid #161712;
    border-top: 1px solid #161712;
}

.box label {
    width: 100%;
    display: block;
    background: #1C1C1C;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #161712;
    padding: 8px 0 8px 0;
}

.box label span {
    display : block;
    color: #bbbbbb;
    font-size: 16px;
    float: left;
    width: 140px;
    text-align: center;
    padding: 5px 20px 0 0;
}

.box .button {
    margin: 0 0 0 0;
    padding: 16px 15px;
    background: #966767;
    border: 4px;
    position: relative;
    top: 1px;
    left: 160px;
    width: 150px;
    border-bottom: 2px double #FF0033;
    border-top: 2px double #660000;
    border-left: 2px double #FF0033;
    border-right: 1px double #FF0033;
}

a:link {
    color: #DDD;
  }
  
  a:visited {
    color: rgb(26, 61, 56);
  }
  
  a:hover {
    color: #960017;
  }

  #copyright {
    margin-top: 2rem;
    text-align: center;
    align-items: center;
    border-top: 1px double #bbbbbb;
  }
  