
body {
	font-size: 18;
	background-image: linear-gradient(to right, silver, rgb(98, 108, 151));
}

h1 {
	color: white ;
	background-color:rgba(4, 5, 5, 0.966);
	text-align: center
}

h3 {
	color: #00008D
}

footer {
	text-align: center
}