* {
    margin: 0;
    padding: 0;
}

body { 
    font-size: 18px;
    font-family: sans-serif;
    background-image: linear-gradient(to right,  rgba(255, 0, 0, 0.575) , rgb(151, 151, 39), rgb(80, 192, 80), rgba(151, 151, 29, 0.705), rgba(255, 0, 0, 0.548) );
    text-align: center; 
    position: relative; 
}

h1 {
    color: white;
    text-align: center;
    background-color: rgb(2, 18, 48);
    position: sticky;
    top: 0;
}

#form {
    padding: 10px;
}

h2 {
    color: rgb(19, 19, 206);
    text-align: center;
    padding: 10px;
}

h3 {
    color: MediumBlue;
    padding: 10px;
}

.barra {
    width: 100%;
    height: 40px;
background-image: linear-gradient(to right, red, yellow, green, yellow, red);
    border-radius: 8px;
    transition-duration: 2s;   
}

.barra:hover { height: 60px; }

.canvas {
    padding: 10px;  
}

#red {
    color: red;
}

#orange {
    color: orange;
}

#green {
    color: green;
}

#yellow {
    color: yellow;
    background-color: #363636;
}

.campos {
    background-color: white;
    border-radius: 8px;
    border: 1px solid linen;  
    width: 50%;
    position: relative;
    margin: auto;
    top: 10px;
    padding: 10px;
}

#table {
    margin: auto;
    width: 20%;
}

#clientes {
    color: brown;
}