* {
    margin: 0;
    padding: 0;
}

body { 
    font-size: 16px;
    font-family: sans-serif;
    background-image: linear-gradient(to right, rgba(192, 192, 192, 0.774), rgb(89, 123, 128) );
}

h1 {
    color: white;
    text-align: center;
    background-color: rgb(2, 18, 48);
    position: sticky;
    top: 0;
}

#form {
    padding:10px;
}

h2 {
    color: rgb(19, 19, 206);

}

.barra {
    position: relative;
    width: 800px;
    height: 30px;
background-image: linear-gradient(to right, red, yellow, green, yellow, red);
    border-radius: 8px;
    transition-duration: 2s; 
    padding:10px;  
}

.barra:hover { height: 60px; }

.canvas {
    padding: 10px;  
}

#imcVermelho {
    color: red;
}

#imcLaranja {
    color: orange;
}

#imcVerde {
    color: green;
}

#imcAmarelo {
    color: yellow;
}