* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body {
    font-size: 0.9em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    width: 100%;
    height: auto;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 10%;
    background: url("https://cdn.pixabay.com/photo/2017/02/08/12/46/moon-2048727_960_720.jpg") no-repeat center;
    background-size: cover;
    text-shadow: 1px 1px 0px rgb(236, 240, 2); /*sombreamento das fontes*/
}

.menu {
    list-style: none;
    display: flex; /*menu lado a lado */
    justify-content: space-between; /*Utiliza todo espaço disponivel */
    align-items: center;
    text-transform: uppercase;
    font-size: clamp(0.3em, 0.8em + 1vw, 4em) /* Valores min, desejavel e max */
}

.menu li img {
    width: 60%;
}

/*
@media only screen and (max-device-width: 900px){
    .main {width: 100%;}
}
*/

.main {
    color: rgba(243, 237, 237, 0.774);
    white-space: pre-line;
    line-height: 1.5;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url("https://cdn.pixabay.com/photo/2016/10/20/18/35/earth-1756274_960_720.jpg") no-repeat center;
    background-size: cover;
    align-items: center;
    text-align: center;
}

#intro {
    color: rgba(237, 238, 209, 0.87);
    float: center;
}

#scripts {
    color: rgba(255, 217, 0, 0.76);
    padding-left: 5%;
    /*float: left;*/
}

#scripts img {
    width: 340px;
}

.btn {
    background-color:rgba(12, 12, 2, 0.452);
    color: rgb(248, 247, 242);
    font-size: 14px;
    border: 1px solid rgb(123, 116, 155);
    border-radius: 6px;
    padding: 6px; /* espaço interno do botao */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    cursor: pointer;
    transition: all 0.5s;
    overflow: hidden;
}

.btn:hover {
    color: white;
}

.btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 165, 124);
    z-index: -1;
    border-radius: 0 0 50% 50%;
    height: 0%;
    transition: all 0.5s;
}

.btn:hover::before {
    height: 190%;
}

.title {
    color: rgba(230, 202, 48, 0.76);
    text-transform: uppercase;
}

footer {
    /*clear: both; Limpa o float*/
    text-align: center;
    background: url("https://cdn.pixabay.com/photo/2016/11/30/12/16/question-mark-1872665__340.jpg") no-repeat center;
    background-size: cover;
    text-shadow: 1px 1px 1px rgb(218, 221, 28);
    font-family: sans-serif;
    color:rgb(245, 245, 238);
}

footer img {
    border-radius: 50%;
    animation: animate 4s linear infinite;
}

@keyframes animate
{
    0% {
        box-shadow: 0 0 0 0 rgba(221, 208, 21, 0.7), 0 0 0 0 rgba(209, 208, 135, 0.7);
    }
    40% {
        box-shadow: 0 0 0 40px rgba(55, 209, 201, 0), 0 0 0 0 rgba(186, 209, 55, 0.7);
    }
    80% {
        box-shadow: 0 0 0 50px rgba(55, 209, 201, 0), 0 0 0 30px rgba(55, 209, 201, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(55, 209, 201, 0), 0 0 0 30px rgba(55, 209, 201, 0);
    }
}

a {
    color: #fff;
}

a:hover, a.active {
    background-color: rgb(3, 11, 24);
    color: rgb(184, 181, 26);
}

a:visited{
    color: #FE9380;
    font-weight: 400;
    text-decoration: none;
}