* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body {
    font-size: 0.9em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    width: 100%;
    height: auto;
}

header {
    position: sticky;
    top: 0;
    width: 100%; /* largura */
    /*height: 10%; */
    background: url("https://cdn.pixabay.com/photo/2017/02/08/12/46/moon-2048727_960_720.jpg") no-repeat center;
    background-size: cover;
    text-shadow: 1px 1px 0px rgb(236, 240, 2); /*sombreamento das fontes*/
    text-transform: uppercase;
    text-align: center;
    
}

.menu {
    list-style: none;
    display: flex; /*menu lado a lado */
    justify-content: space-between; /*Utiliza todo espaço disponivel*/
    align-items: center;
    font-size: clamp(0.3em, 0.8em + 1vw, 4em) /* Valores min, desejavel e max */

}

.menu li img {
    width: 50%;
}

/*
@media only screen and (max-device-width: 900px){
    .main {width: 100%;}
}
*/

.main {
    color: rgba(243, 237, 237, 0.774);
    white-space: pre-line; /*espaços em branco dentro dos elementos são manipulados.*/
    width: 100%;
    background: url("https://cdn.pixabay.com/photo/2014/04/05/11/38/bokeh-316425__340.jpg") center;
    /* background: url("https://cdn.pixabay.com/photo/2016/04/04/12/43/texture-1306790__340.jpg") center; */
    /*background: url("https://cdn.pixabay.com/photo/2016/10/07/14/42/space-1721695__340.jpg") center; */
    /*background: url("https://cdn.pixabay.com/photo/2014/04/05/11/38/bokeh-316425__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2016/07/28/14/40/space-1548139__340.jpg") center; */
    /*background: url("https://cdn.pixabay.com/photo/2016/06/23/16/07/background-1475670__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2016/08/04/14/04/space-1569133__340.jpg") center; */
    /*background: url("https://cdn.pixabay.com/photo/2017/10/12/20/15/photoshop-2845779__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2018/08/31/18/21/fantasy-3645269__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2018/02/22/14/58/nature-3173180__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2016/07/17/19/10/background-1524540__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2015/07/03/15/46/wallpaper-830417__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2017/02/19/14/30/water-2079907__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2017/12/26/02/57/sea-3039586__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2016/01/19/17/29/earth-1149733__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2018/05/20/11/40/flower-3415551__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2018/05/17/15/24/armillar-ball-3408811__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2017/10/20/01/06/north-star-2869817_960_720.jpg") no-repeat center;*/
    /*background: url("https://cdn.pixabay.com/photo/2016/04/02/19/40/moon-1303512__340.png") center;*/
    background-size: cover;
    /*align-items: center; */
    /*display: flex;*/
    /*flex-direction: column;*/
    
}

#intro {
    color: rgba(237, 238, 209, 0.87);
    text-align: center; 
}

.scripts {
    color: rgba(255, 217, 0, 0.76);
    padding: 10px; /* espaço da section para as margens */
    vertical-align: middle;
    /*display: flex; /* Lado a lado */
    text-align: center;
    /*float: left; */
    /*display: inline-block; */
}

.title {
    color: rgba(230, 202, 48, 0.76);
    text-transform: uppercase;
    text-align: center;
}

.btn {
    background-color:rgba(12, 12, 2, 0.452);
    color: rgb(197, 186, 130);
    font-size: 16px;
    border: 1px solid rgb(123, 116, 155);
    border-radius: 6px;
    padding: 6px; /* espaço interno do botao */
    cursor: pointer;
    transition: all 0.5s;
    overflow: hidden;
    margin: 10px 0;
    font-weight: 600;/* Negrito */
}

#batimentos {
    width: 380px;
    height: 180px;
    background-image: url("https://cdn.pixabay.com/photo/2018/04/12/04/26/blood-pressure-3312513_960_720.png");
    background-size: cover; /* contain */
   
} 

.btn:hover {
    color: white;
}

.btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 165, 124);
    z-index: -1;
    border-radius: 0 0 50% 50%;
    height: 0%;
    transition: all 0.5s;
    text-decoration: none;
}

/*.btn:hover::before {
    height: 40%;
}*/

.footer {
    text-align: center;
    display: flex; /*menu lado a lado */
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    text-shadow: 1px 1px 1px rgb(218, 221, 28);
    font-family: sans-serif;
    color:rgb(245, 245, 238);
    padding-top: 2%;
    padding-bottom: 2%;
}

.footer img {
    border-radius: 50%;
    animation: animate 4s linear infinite;
}

@keyframes animate
{
    0% {
        box-shadow: 0 0 0 0 rgba(221, 208, 21, 0.7), 0 0 0 0 rgba(209, 208, 135, 0.7);
    }
    40% {
        box-shadow: 0 0 0 40px rgba(55, 209, 201, 0), 0 0 0 0 rgba(186, 209, 55, 0.7);
    }
    80% {
        box-shadow: 0 0 0 50px rgba(55, 209, 201, 0), 0 0 0 30px rgba(55, 209, 201, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(55, 209, 201, 0), 0 0 0 30px rgba(55, 209, 201, 0);
    }
}

a {
    color: #fff;
    text-decoration: underline; /*insere uma linha sob o link*/
}

a:hover, a.active {
    background-color: rgb(3, 11, 24);
    color: rgb(184, 181, 26);
}

a:visited{
    color: #FE9380;
    font-weight: 400;
    text-decoration: none;
}
a:before {
    text-decoration: none;
}